<%- include('../partials/header') %>
<h2>Today's date: <%= now %></h2>
  <table>
    <thead>
      <tr>
        <th>Airline</th>
        <th>Airport</th>
        <th>Flight Number</th>
        <th>Departure Date</th>
      </tr>
    </thead>
    <tbody>
      <% flights.forEach(function(flight) { %>  
        <tr style=<%= flight.departs.getTime() < now ? "color:red" : "color:black" %> >
          <td><%= flight.airline %></td>
          <td><%= flight.airport %></td>
          <td><%= flight.flightNo %></td>
          <td><%= flight.departs %></td>
          <td><a href="/flights/<%= flight._id %>"><button>DETAILS</button></a></td>
        </tr>

      <% }); %>
    </tbody>
  </table>
</body>
</html>