<%- include('../partials/header') %>
  <table>
    <thead>
      <tr>
        <th><u>Airline</u></th>
        <th><u>Airport</u></th>
        <th><u>Flight Number</u></th>
        <th><u>Departure Date</u></th>
      </tr>
    </thead>
    <tbody>
      <% flights.forEach(function(flight) { %>  
        <tr style=<%= flight.departs.getTime() < now ? "color:red" : "color:black" %> >
          <td><%= flight.airline %></td>
          <td><%= flight.airport %></td>
          <td><%= flight.flightNo %></td>
          <td><%= flight.departs %></td>
          <td><a href="/flights/<%= flight._id %>"><button>DETAILS</button></a></td>
        </tr>

      <% }); %>
    </tbody>
  </table>
</body>
</html>