<%- include('../partials/header') %>
  <tr>
    <td><b>Airline:</b> <%= flight.airline %></td><br>
    <td><b>Flight Number:</b> <%= flight.flightNo %></td><br>
    <td><b>Departure Date:</b> <%= flight.departs %></td><br>
    <td><b>Departure Airport:</b> <%= flight.airport %></td><br>
    <%if(flight.destinations.length) { %>
      <% flight.destinations.sort((a,b) => new Date(a.arrivals) - new Date(b.arrivals)); %>
      <ul>
      <%flight.destinations.forEach(function(d) { %>
        <li>
          <div>Destination Airport: <%= d.dairport %></td><br>
          <div>Arrival Date: <%= d.arrivals %></div><br>
        </li>
      <% }); %>
      </ul>
      <% } %>
    </tr>
    <label style="color:red;">&nbsp;&nbsp;Add A Destination</label>
    <form id="add-destination-form" method="POST" action="/flights/<%= flight._id %>/destinations">
      <label> &nbsp;&nbsp;Destination Airport:</label>
      <select name="dairport">
        <option value="AUS">AUS</option>
        <option value="DFW">DFW</option>
        <option value="DEN">DEN</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN</option>
      </select><br>
      <label>&nbsp;&nbsp;Arrival Date: <input type="datetime-local" name="arrivals"></label>
      <input type="submit" value="Add Destination">
    </form>



</body>
</html>