<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>
  <tr>
    <td><b>Airline:</b> <%= flight.airline %></td><br>
    <td><b>Departure Airport:</b> <%= flight.airport %></td><br>
    <%if(flight.destinations.length) { %>
      <%flight.destinations.forEach(function(d) { %>
        <tr>
          <td>Destination</td><br>
          <td>Arrival Airport: <%= d.dairport %></td><br>
          <td>Arrival Date: <%= d.arrivals %></td><br>
        </tr>
      <% }); %>
    <% } %>
    <label style="color:'red'">&nbsp;&nbsp;Add Destination</label>
    <form id="add-destination-form" method="POST" action="/flights/<%= flight._id %>/destinations">
      <label> &nbsp;&nbsp;Destination Airport:</label>
      <select name="dairport">
        <option value="AUS">AUS</option>
        <option value="DFW">DFW</option>
        <option value="DEN">DEN</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN</option>
      </select>
      <label>&nbsp;&nbsp;Arrival Date: <input type="datetime-local" name="arrivals"></label>
      <input type="submit" value="Add Destination">
    </form>

    <td><b>Flight Number:</b> <%= flight.flightNo %></td><br>
    <td><b>Departure Date:</b> <%= flight.departs %></td><br>
        </tr>


</body>
</html>