<%- include('../partials/header') %>
  
<table>
  <thead>
    <tr>
      <th><u>Airline</u></th>
      <th><u>Airport</u></th>
      <th><u>Flight Number</u></th>
      <th><u>Departure Date</u></th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= flight.airline %></td>
        <td><%= flight.airport %></td>
        <td><%= flight.flightNo %></td>
        <td><%= flight.departs %></td>
      </tr>
  </tbody>
</table>
 
    <%if(flight.destinations.length) { %>
      <% flight.destinations.sort((a,b) => new Date(a.arrivals) - new Date(b.arrivals)); %>
      
      <ul>
        <% flight.destinations.forEach(function(d) { %>
          <tr>
            <form action="/flights/<%= flight._id %>/destinations/<%= d._id %>?_method=DELETE"
              class="delete-form" method="POST">
              <button type="submit">X</button>
            </td>
            <td>Destination Airport: <%= d.dairport %>&nbsp;&nbsp;</td>
            <td>Arrival Date: <%= d.arrivals %></td>
          </tr>
        </li>
      </form>
      <% }); %>

      </ul>
      <% } %>
    <div style="color:red;">&nbsp;&nbsp;Add A Destination </div>
    <form id="add-destination-form" method="POST" action="/flights/<%= flight._id %>/destinations">
      <label> &nbsp;&nbsp;Destination Airport:</label>
      <select name="dairport">
        <option value="AUS">AUS</option>
        <option value="DFW">DFW</option>
        <option value="DEN">DEN</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN</option>
      </select><br>
      <label>&nbsp;&nbsp;Arrival Date: <input type="datetime-local" name="arrivals"></label>
      <input type="submit" value="Add Destination">
    </form><br>


    <br><label><strong>TICKETS</strong>&nbsp;&nbsp;<a href="/flights/<%= flight._id%>/tickets/new"><button>Add a Ticket</button></a></label><br>
    <%if(tickets.length) { %>
      <% tickets.forEach(function(t) { %>
        <br>
        <tr>
          <form action="/flights/<%= flight._id %>/<%= t._id %>?_method=DELETE"
            class="delete-form" method="POST">
            <button type="submit">X</button>
          <td><strong>Ticket: &nbsp;&nbsp;</strong></td>
          <td>Seat: <%= t.seat %></td>
          <td>&nbsp;&nbsp;Price: $<%= t.price %></td>
        </form>
        </tr><br>
      <% }); %>  
    <% }; %>
</body>
</html>