<%- include('../partials/header') %>
  <tr>
    <td><b>Airline:</b> <%= flight.airline %></td><br>
    <td><b>Flight Number:</b> <%= flight.flightNo %></td><br>
    <td><b>Departure Date:</b> <%= flight.departs %></td><br>
    <td><b>Departure Airport:</b> <%= flight.airport %></td><br>
 
    <%if(flight.destinations.length) { %>
      <% flight.destinations.sort((a,b) => new Date(a.arrivals) - new Date(b.arrivals)); %>
      
      <ul>
        <% flight.destinations.forEach(function(d) { %>
        <li>
          <tr>
            <form action="/flights/<%= flight._id %>/destinations/<%= d._id %>?_method=DELETE"
              class="delete-form" method="POST">
              <button type="submit">X</button>
            </td>
            <td>Destination Airport: <%= d.dairport %>&nbsp;&nbsp;</td>
            <td>Arrival Date: <%= d.arrivals %></td>
            <td>id:<%= d._id %></td>
          </tr>
        </li>
      </form>
      <% }); %>

      </ul>
      <% } %>
    </tr>
    <div style="color:red;">&nbsp;&nbsp;Add A Destination </div>
    <form id="add-destination-form" method="POST" action="/flights/<%= flight._id %>/destinations">
      <label> &nbsp;&nbsp;Destination Airport:</label>
      <select name="dairport">
        <option value="AUS">AUS</option>
        <option value="DFW">DFW</option>
        <option value="DEN">DEN</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN</option>
      </select><br>
      <label>&nbsp;&nbsp;Arrival Date: <input type="datetime-local" name="arrivals"></label>
      <input type="submit" value="Add Destination">
    </form><br>


    <%if(tickets.length) { %>
      <% tickets.forEach(function(t) { %>
        <tr>
          <form action="/flights/<%= flight._id %>/<%= t._id %>?_method=DELETE"
            class="delete-form" method="POST">
            <button type="submit">X</button>
          <td><strong>Ticket: &nbsp;&nbsp;</strong></td>
          <td>Seat: <%= t.seat %></td>
          <td>&nbsp;&nbsp;Price: $<%= t.price %></td>
        </form>
        </tr><br>
      <% }); %>  
    <% }; %>
    <br><a href="/flights/<%= flight._id%>/tickets/new"><button>Add a Ticket</button></a>
</body>
</html>